<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>My account</title>
</head>
<body>
    <header>
        <div id="logo"><a href="/">QuickText.com</a></div>
        <div id="account-acc"><a href="/account">My account</a></div>
    </header>

    <div>
        <p>Username: <%= acc[1] %></p>
        <p>Notes saved in the database: (to access them go the home page)</p>

        <%
        function truncate(str, maxLength) {
            if (str.length > maxLength) {
                return str.substr(0, maxLength - 1) + '...'
            }
            return str
        }
        %>

        <div id="drafts">
            <% if (acc[2].length > 0 && acc[2].length != null) { %>
                <ul>
                    <% acc[2].forEach(function(note, index) { %>
                        <li>
                            <%= truncate(note, 100) %>
                        </li>
                    <% }) %> 
                </ul>
            <% } %>
        </div>

        <form action="/api/unlogin?_method=DELETE" method="post">
            <div>
                <button type="submit">Unlogin</button><br>
            </div>
        </form>
    </div>

    <% if (!cookiesAccepted) { %>
        <div id="cookie-banner" class="cookie-banner">
            <p>This website uses cookies to ensure you get the best experience.</p>
            <button id="cookie-accept">Got it!</button>
        </div>
    <% } %>

    <script src="/js/cookiesAccept.js" type="text/javascript"></script>
</body>
</html>