<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Quick Text</title>
</head>
<body>
    <header>
        <div id="logo">QuickText.com</div>
        <div id="btns-container">
            <form id="new-form" action="/api/create_note" method="post">
                <input type="hidden" name="note" id="new-note-hidden" />
                <button id="new-btn" type="submit">+ New</button>
            </form>

            <form id="delete-form" action="/api/delete_note" method="post" onsubmit="return deleteNote();">
                <input type="hidden" name="_method" value="DELETE" />
                <button id="delete-btn">Delete</button>
            </form>
        </div>
    </header>

    <form action="/api/create_note" method="post">
        <div id="temp-link-container">
            <button type="submit">Create a Temporary Link for the current text</button><br>
            <textarea id="text-note" name="note" placeholder="Your text..."></textarea>
        </div>
    </form>

    <div>
        Your text will be saved in your browser storage as draft automatically. <br>

        <form id="delete-form" action="/api/delete_notes" method="post" onsubmit="return deleteNote();">
            <input type="hidden" name="_method" value="DELETE" />
            <button id="delete-notes-btn">Delete all drafts</button>
        </form>

        Your drafts automatically saved in your browser earlier:
        <div id="drafts">
            <% if (notes.length > 0) { %>
                <ul>
                    <% notes.forEach(function(note) {%>
                        <li><a class="savedDraft" href="#"><%= note %></a></li>
                    <% }) %>
                </ul>
            <% } %>
        </div>
    </div>

    <script src="/js/newDeleteNoteFormHandler.js" type="text/javascript"></script>
</body>
</html>