body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(232, 232, 223);
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    display: flex;
    align-items: stretch;
    height: 45px;
}

#logo {
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#new-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#new-btn button {
    height: 100%;
    padding: 0 20px;
    font-size: 20px;
}